<!DOCTYPE html>
<html lang="th">
<head>
<meta charset="UTF-8">
<title>Splash</title>
<style>
body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background:#d71920;
  color:white;
  font-family:Arial;
}
</style>
</head>
<body>

<img src="https://cdn-icons-png.flaticon.com/512/679/679720.png" width="120">
<h1>MyParcel App</h1>
<p>กำลังโหลด...</p>

<script>
setTimeout(()=>{
  window.location.href="/login.html";
},3000);
</script>

</body>
</html>